<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(50, 50, 50); color: aliceblue;">
    <h1>Data table</h1>
    <table border="1">
        <tr>
            <td>No</td>
            <td>name</td>
            <td>age</td>
            <td>gender</td>
            <td>Hobby</td>
            <td>City</td>
            <td>action</td>
        </tr>

        <% record.map((v,i)=>{ %>
            <tr>
                <td>
                    <%= ++i %>
                </td>
                <td>
                    <%= v.name %>
                </td>
                <td>
                    <%= v.age %>
                </td>
                <td>
                    <%= v.gender %>
                </td>
                <td>
                    <%= v.hobby %>
                </td>
                <td>
                    <%= v.city %>
                </td>
                <td><a href="/deleteData/<%= v.id %>"><button>X</button></a>
                    <a href="/updateData/?position=<%= v.id %>"><button>update</button></a>
                </td>
            </tr>
            <% })%>

    </table>

</body>

</html>